<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
	<title>GitHub Search</title>
</head>
<body class="d-flex h-100 text-center text-white bg-dark" >
  <main class="container">
      {% block content %}
      <form action = "{{url_for('main_page') }}" class = "form" method = "post">
          <h1 class="h1 mb-3 fw-normal">Searching users of GitHub</h1>
          </div>
          <div class="form-floating">
          <input type="text"  name = "nm" placeholder="enter the login here...">
          </div>
          <button class="w-30 btn btn-lg btn-primary" type="submit">Search</button>
      </form>
      {% endblock %}
          <div>
          {{value}}
          </div>
  </main>
</body>
</html>


